.mao-card-list {
  display: inline-block;
  width: calc(100% - 40px);
  margin: 0 20px;
  text-align: center;
  box-sizing: border-box;
}

.card-wrap {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  overflow: hidden;
  border: 3px solid #ccc;
  background-color: #ccc;
  border-radius: 8px;
  .card-img {
    width: 100%;
  }
}

.mao-data {
  display: inline-block;
  width: calc(100% - 40px);
  margin: 20px;
  text-align: left;
  .data-item {
    display: block;
    line-height: 1.8;
  }
}
